.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(44, 45, 42, 0.25);
  z-index: 1000;
  @media (max-width: 575px) {
    width: calc(100% + 20px);
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
  }
}

.burger {
  margin: 0 20px 0 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.logo {

  &__link {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 116px;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 740px) {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
  &__link {
    padding: 10px 20px 10px 20px;
  }
}

.header-icons {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}